---
{
    "stream": {
        "$id": "hospitals",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_hospital_ans"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        
        "name",
        "slug",
      
        "c_relatedProducts.name",
        "c_relatedProducts.slug"
        
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content={{richTextDescription}}>
    {{>head}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
</head>

<div class="container mx-auto px-4">
    <body>
        {{>navbar}}
         {{>doctor_search}}
        <br>
         <div class="container py-8 px-6 mx-auto">
            <div class="grid grid-cols-2 divide-x gap-3 pl-10">
               
                <div class="col-span-1">
                    <div class="container py-8 px-6 mx-auto">
                        
                       
                        {{#each c_relatedProducts}}
                         <div class="grid grid-cols-7 divide-gray-300 divide-y-4 gap-3 pl-10">
      <div class="col-span-5">
              <div class="container py-8 px-6 mx-auto">
                  <div>
                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-2xl mb-8 hover:text-blue-900" href={{slug}}>{{name}}</a>
                    <br>
                    
                    
                  </div>

              </div>
          </div>
      </div>
                        {{/each}}
            </div>
    </body> 
   
</div>
</div>



 {{>footer}}
</html>